[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
typer = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
click = "./click"
test = "python -m pytest -v --cov=clicker --capture=sys tests/"
tests = "python -m pytest -v --cov=clicker --capture=sys tests/"
clean = "rm -rf htmlcov/ .coverage .pytest_cache clicker/__pycache__/ test/__pycache__"
cover = "bash coverage.sh"
